{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <h2 class="mb-4">{% if form.instance.pk %}Editar{% else %}Criar{% endif %} Tarefa</h2>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_title">Título</label>
            {{ form.title }}
        </div>
        <div class="form-group">
            <label for="id_description">Descrição</label>
            {{ form.description }}
        </div>
        <div class="form-group">
            <label for="id_due_date">Data de Vencimento</label>
            {{ form.due_date }}
        </div>
        <div class="form-group">
            <label for="id_completion_date">Data de Conclusão</label>
            {{ form.completion_date }}
        </div>
        <div class="form-group">
            <label for="id_priority">Prioridade</label>
            {{ form.priority }}
        </div>
        <div class="form-group">
            <label for="id_status">Status</label>
            {{ form.status }}
        </div>
        <div class="form-group">
            <label for="id_category">Categoria</label>
            {{ form.category }}
        </div>
        <div class="form-group">
            <label for="id_parent_task">Tarefa Pai (se aplicável)</label>
            {{ form.parent_task }}
        </div>
        <button type="submit" class="btn btn-primary">Salvar</button>
    </form>
</div>
{% endblock %}
